# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl

# Vault / Secrets
*.pem
*.key

# AWS
.aws/

# Logs
*.log
crash.log
crash.*.log

# IDE / OS
.vscode/
*.code-workspace
.DS_Storeawscliv2.zip
01-terraform-basics/project-ec2-instance/awscliv2.zip
.terraform/
